@if (notAuthorized)
{
    

    <div style="position: fixed; top: 50%; left: 35%; margin-top: -50px; margin-left: -100px">
        <div>
            <h4 style="color: whitesmoke"> You do not have access to the requested page</h4>
            <NavLink href="/" class="btn btn-warning">Back to index page</NavLink>
        </div>
    </div>

}